In [1]:
import pandas as pd

In [ ]:
df_raw = pd.read_csv("../data/raw/raw_weather_air.csv")
df_raw

,city,lat,lon,time,temp_c,humidity_pct,wind_speed_ms,weather_code,aqi_eu,pm25,no2,o3
0,Lisbon,38.7167,-9.1333,2026-01-10T15:00,13.5,64,2.2,3,21,11.1,25.7,47.0
1,Thessaloniki,40.6436,22.9309,2026-01-10T15:00,9.5,85,7.4,3,26,5.3,8.8,60.0
2,Brussels,50.8505,4.3488,2026-01-10T15:00,-0.3,70,11.2,3,17,9.3,20.0,43.0
3,Barcelona,41.3888,2.1590,2026-01-10T15:00,12.6,46,15.5,1,27,2.5,7.0,67.0
4,Berlin,52.5244,13.4105,2026-01-10T15:00,-2.5,72,6.8,0,24,6.9,15.0,61.0

In [3]:
weather_map = {
    0: "Clear Sky",
    1: "Mainly clear, partly cloudy, and overcast",
    2: "Mainly clear, partly cloudy, and overcast",
    3: "Mainly clear, partly cloudy, and overcast",
    45: "Fog and depositing rime fog",
    48: "Fog and depositing rime fog",
    51: "Drizzle: Light, moderate, and dense intensity",
    53: "Drizzle: Light, moderate, and dense intensity",
    55: "Drizzle: Light, moderate, and dense intensity",
    56: "Freezing Drizzle: Light and dense intensity",
    57: "Freezing Drizzle: Light and dense intensity",
    61: "Rain: Slight, moderate and heavy intensity",
    63: "Rain: Slight, moderate and heavy intensity",
    65: "Rain: Slight, moderate and heavy intensity",
    66: "Freezing Rain: Light and heavy intensity",
    67: "Freezing Rain: Light and heavy intensity",
    71: "Snow fall: Slight, moderate, and heavy intensity",
    73: "Snow fall: Slight, moderate, and heavy intensity",
    75: "Snow fall: Slight, moderate, and heavy intensity",
    77: "Snow grains",
    80: "Rain showers: Slight, moderate, and violent",
    81: "Rain showers: Slight, moderate, and violent",
    82: "Rain showers: Slight, moderate, and violent",
    85: "Snow showers slight and heavy",
    86: "Snow showers slight and heavy",
    95: "Thunderstorm: Slight or moderate",
    96: "Thunderstorm with slight and heavy hail",
    99: "Thunderstorm with slight and heavy hail"
}

In [4]:
df = df_raw.copy()

# time -> datetime
df["time"] = pd.to_datetime(df["time"], errors="coerce")

# weather_code -> description
df["weather_desc"] = df["weather_code"].map(weather_map)

# optional: round a bit for readability
df["temp_c"] = df["temp_c"].round(1)
df["wind_speed_ms"] = df["wind_speed_ms"].round(1)
df["pm25"] = df["pm25"].round(1)
df["no2"] = df["no2"].round(1)
df["o3"] = df["o3"].round(1)

# reorder columns 
df = df[[
    "city", "lat", "lon", "time",
    "temp_c", "humidity_pct", "wind_speed_ms",
    "weather_code", "weather_desc",
    "aqi_eu", "pm25", "no2", "o3"
]]

df

,city,lat,lon,time,temp_c,humidity_pct,wind_speed_ms,weather_code,weather_desc,aqi_eu,pm25,no2,o3
0,Lisbon,38.7167,-9.1333,2026-01-10 15:00:00,13.5,64,2.2,3,"Mainly clear, partly cloudy, and overcast",21,11.1,25.7,47.0
1,Thessaloniki,40.6436,22.9309,2026-01-10 15:00:00,9.5,85,7.4,3,"Mainly clear, partly cloudy, and overcast",26,5.3,8.8,60.0
2,Brussels,50.8505,4.3488,2026-01-10 15:00:00,-0.3,70,11.2,3,"Mainly clear, partly cloudy, and overcast",17,9.3,20.0,43.0
3,Barcelona,41.3888,2.1590,2026-01-10 15:00:00,12.6,46,15.5,1,"Mainly clear, partly cloudy, and overcast",27,2.5,7.0,67.0
4,Berlin,52.5244,13.4105,2026-01-10 15:00:00,-2.5,72,6.8,0,Clear Sky,24,6.9,15.0,61.0

In [5]:
# handle Nan values
df.fillna(0, inplace=True)

# drop duplicates
df.drop_duplicates(inplace=True)

In [ ]:
# save to a new csv file
df.to_csv("../data/processed/weather_air_transformed.csv", index=False)